@import './vars.scss';
@import './reset.css';
@import './typography.scss';
@import './header.scss';
@import './product.scss';
@import './cart.scss';

body {
 background: var(--primary-color);
 * {
   color: var(--text-color);
 }
  margin-top:-260px;
  transition: margin 0.5s ease-in-out;
  &.cart-open {
    margin-top: 0px;
  }
}

.site-constrainer {
  width:calc(100% - (var(--spacer) * 5));
  padding:0 calc(var(--spacer) * 2.5);
  @media(max-width: $breakpoint) {
    width: 90vw;
    padding:0;
    margin: 0 auto;
  }
}

.bold {
  font-weight: bold;
}

.none.none.none {
  display:none;
}

.aesop-logo_mobile {
  width: calc(var(--spacer) * 4.5);
}

.aesop-logo-main {
  width: calc(var(--spacer) * 6.25);
}